.nav {
      width: 10%;
      padding: em(30) 0;
      position: fixed;
      right: 0;
      height: 100%;
      float: right;
      z-index: 500;

      @media #{$medium-up} {
            background-color: $black;
            padding: em(30);
            @include grid-column(
                  $columns:1,
                  $float: right,
                  $collapse: true
            );
            
            //Set Navigation height to the size of the browser;
            min-height: 100%;
            //positon: relative !important;
      }

      @media #{$medium-only} {
            @include grid-column(
                  $columns:1.2,
                  $float: right,
                  $collapse: true
            );
      }

     /* @media #{$small-only} {
            position: absolute;
            background-color: transparent;
            padding: em(45) em(20) !important;
            top: 0;
            left: 0;
      }*/
      
     /* &.expand {
            @include grid-column(
                  $columns: 12,
                  $float: right,
                  $collapse: true
            );

            @include transition(width 1.0s, ease-in-out);
      }*/
}
.menu {
      width: 30px;
      position: relative;
      height: 30px;
      float: right;
      cursor: pointer;
      right: rem-calc(40);
      @include inline-block;
      padding-top: rem-calc(20);
      padding-bottom: rem-calc(20);
      top: rem-calc(10);

      @media #{$small-only} {
            margin-top: rem-calc(20);
      }

      @media #{$medium-only} {
            right: rem-calc(30);
      }

      .top-bar, .middle-bar, .bottom-bar {
            content: '';
            width: 100%;
            border-bottom: 4px solid $white;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            margin-top: rem-calc(-10);
            @include transition ( all 0.3s ease-in-out );

            @media #{$small-only} {
                  border-bottom: 3px solid $white;
            }
      }
      .top-bar {
            top: rem-calc(-20);
      }
      .middle-bar {
            top: rem-calc(-20);
            @include transform(translateY(em(10%)));
      }
      .bottom-bar {
            top: rem-calc(-20);
            @include transform(translateY(em(20%)));

      }

      &:hover {
            .top-bar {
                  @include transform(translateY(-30%));
                  //@include transform-origin( center center );
            }
           .bottom-bar {
                    @include transform(translateY(130%));
                       // @include transform-origin( center center );
            }
            .menu-text {
                    @include transform(translateY(20%));
            }
      }

      .menu-text {
            top: rem-calc(-20);
            @include transform(translateY(-100%));
            font-size: rem-calc(10);
            text-align: center;
            padding-left: rem-calc(2);
            @include inline-block;
            @include transition ( all 0.3s ease-in-out );
            opacity: 0.5;
      }

}
.social {
      position: absolute;
      bottom: em(20);
      right: rem-calc(2);
      //margin: auto auto;
      right: rem-calc(40);
      float: right;
      width: 50px;

      span {
            display: block;
            margin-top: em(20);
            font-size: em(30);
            float: right;

            @media #{$small-only} {
                  float: none;
                  text-align: center;
                  font-size: em(20);
                  display: inline;
                  @include inline-block;
                  width: auto;
                  padding-right: em(10);
            }
      }

      @media #{$small-only} {
            width: 100%;
            float: right;
            width: auto;
            margin-right: em(10);
            display: none;
      }

      @media #{$medium-only} {
            right: rem-calc(30);
      }
}
.nav-links {
      width: 100%;
      position: absolute;
      text-align: right;
      top: rem-calc(60);
      //opacity: 0;
      text-align: center;
      @include perspective( 20000px );
      margin: 0;
      z-index: 10500;

      li {
            width: 100%;
      }

      a {
            text-decoration: none;
            color: $white;
            text-align: right;
            font-size: em(70);
            font-weight: 100;
            line-height: 1;
            opacity: 0;
            @include inline-block;
            position: relative;

            @media #{$small-only} {
                  font-size: em(30);
                  line-height: 1.1;
            }

            @media #{$medium-only} {
                  font-size: em(60);
            }

      }
      
      @media #{$small-only} {
            //right: 0;
           // font-weight: normal;
            //text-align: center;
            //width: 100%;
            //font-size: em(26);
            //line-height: 0.6;
            //background-color: rgba($black, 0.9);
            padding-top: em(5);
            padding-bottom: em(50);
      }
}